.hero {
  height: 700px;
  width: 100%;
  background-image: url("../assets/images/wood.jpg");
  background-position: center;
  background-size: 120%;
  padding-top: 100px;
}

.hero .title {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  font-size: 92px;
  font-weight: 700;
  letter-spacing: 8px;
  color: #ffff;
  top: 100px;
}

.hero .tagline {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #ffff;
}

.hero .bowl {
  display: block;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
  text-align: center;
  margin-top: 56px;
}

.ordering-system-container {
  background-image: url("../assets/images/texture_pattern_2X.jpg");
  padding: 20px 0 100px 0;
  margin: 0px;
}

.ordering-system {
  width: 70%;
  margin: 0 auto;
}

.ordering-system .how-to-order {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
  text-align: center;
  width: 40%;
  margin-top: 40px;
  font-size: 40px;
  font-weight: 600;
  color: #e60033;
}

.ordering-system .order-sys-imgs {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  justify-items: center;
}

.ordering-system .order-sys-imgs .order-sys-imgs-container {
  padding: 0;
  margin-top: 20px;
}

.ordering-system .order-sys-imgs .order-sys-imgs-container p {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
  text-align: center;
  font-family: Economica, sans-serif;
  font-size: 28px;
  font-weight: 500;
  -webkit-transform: scale(0.8, 1.2);
          transform: scale(0.8, 1.2);
  letter-spacing: 2px;
  margin-top: 20px;
}

.ordering-system .order-sys-imgs .order-sys-imgs-container .pick-ramen {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
  text-align: center;
  height: 160px;
  margin: 0 auto;
  margin-bottom: 2px;
  padding: 0px;
  text-align: center;
}

.ordering-system .order-sys-imgs .order-sys-imgs-container .pick-broth {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
  text-align: center;
  height: 144px;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 4px;
  padding: 0;
  text-align: center;
}

.ordering-system .order-sys-imgs .order-sys-imgs-container .add-toppings {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
  text-align: center;
  height: 160px;
  margin: 0;
  margin-top: 4px;
  padding: 0 32px;
  text-align: center;
}

.ordering-system .order-sys-imgs .order-sys-imgs-container .right-arrow {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
  text-align: center;
  margin-top: 72px;
  width: 24px;
}
/*# sourceMappingURL=home.css.map */