@import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap");
.menu-list {
  background-image: url("../assets/images/character_pattern_2X.jpg");
  background-size: 100px;
  padding: 60px 0;
  -webkit-transform: translate(0, -150px);
          transform: translate(0, -150px);
}

.menu-list .ramenBowls {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
  text-align: center;
  width: 1000px;
  margin-top: 0px;
  font-size: 60px;
  font-weight: 700;
  color: #ffff;
  max-width: 100%;
}

.menu-list .grid-menu-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 6fr;
      grid-template-columns: 6fr 6fr;
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
  grid-row-gap: 40px;
  width: 1000px;
  margin: 40px auto;
  max-width: 96%;
}

@media (max-width: 820px) {
  .menu-list .grid-menu-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: (auto)[9];
        grid-template-rows: repeat(9, auto);
    width: 500px;
    max-width: 96%;
  }
}

.menu-list .grid-menu-container .grid-menu-items {
  padding: 10px;
}

.menu-list .grid-menu-container .grid-menu-items .category {
  font-family: Economica, sans-serif;
  font-size: 36px;
  font-weight: 300;
  -webkit-transform: scale(1, 1.4);
          transform: scale(1, 1.4);
}

@media (max-width: 820px) {
  .menu-list .grid-menu-container .grid-menu-items .category {
    font-size: 30px;
  }
}

.menu-list .grid-menu-container .grid-menu-items .price {
  font-family: Economica, sans-serif;
  font-size: 28px;
  font-weight: 300;
  color: #e60033;
  margin-top: 30px;
}

@media (max-width: 820px) {
  .menu-list .grid-menu-container .grid-menu-items .price {
    font-size: 24px;
  }
}

.menu-list .grid-menu-container .grid-menu-items .chashus {
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #ffff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

@media (max-width: 820px) {
  .menu-list .grid-menu-container .grid-menu-items .chashus {
    font-size: 16px;
  }
}

.menu-list .grid-menu-container .grid-menu-items .chashus li {
  margin-top: 2px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.menu-list .grid-menu-container .grid-menu-items .toppings {
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #ffff;
  margin-top: 30px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px) {
  .menu-list .grid-menu-container .grid-menu-items .toppings {
    font-size: 16px;
  }
}

.menu-list .grid-menu-container .grid-menu-items .toppings li {
  margin-top: 2px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.menu-list .grid-menu-container .grid-menu-items .bowls {
  font-size: 24px;
  margin-top: 20px;
  font-family: 'Walter Turncoat', cursive;
}

@media (max-width: 820px) {
  .menu-list .grid-menu-container .grid-menu-items .bowls {
    font-size: 20px;
  }
}

.menu-list .grid-menu-container .grid-menu-items .bowls li {
  list-style-type: none;
}
/*# sourceMappingURL=menuList.css.map */