.nav-section {
  background-color: transparent;
  width: 100%;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.nav-section.active {
  -webkit-transition: 200ms;
  transition: 200ms;
  background-color: #433d3c;
}

@media (max-width: 535px) {
  .nav-section {
    height: 28vw;
  }
}

.nav-section .navigation-bar {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0);
  width: 1000px;
  height: 140px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  position: -webkit-sticky;
  position: sticky;
  margin: 0 auto;
  max-width: 95%;
}

.nav-section .navigation-bar .logo {
  position: absolute;
  height: 100px;
  width: 100px;
  margin: 21px 48px;
}

@media (max-width: 535px) {
  .nav-section .navigation-bar .logo {
    height: 80px;
    width: 80px;
    max-height: 20vw;
    max-width: 20vw;
    margin: 5vw;
  }
}

.nav-section .navigation-bar .navigation-bar-2 {
  width: 50%;
  text-align: center;
  margin: 84px auto;
  max-width: 90%;
}

@media (max-width: 820px) {
  .nav-section .navigation-bar .navigation-bar-2 {
    display: none;
  }
}

.nav-section .navigation-bar .btn-order-online {
  background-color: #ffc227;
  padding: 8px 24px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  right: 20px;
  top: 76px;
  position: absolute;
  font-size: 20px;
}

@media (max-width: 1024px) {
  .nav-section .navigation-bar .btn-order-online {
    font-size: 16px;
    padding: 7px 14px;
    right: 1vw;
  }
}

@media (max-width: 820px) {
  .nav-section .navigation-bar .btn-order-online {
    display: none;
  }
}

.nav-section .navigation-bar .nav-menu {
  text-decoration: none;
  padding: 0 20px 0 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #ffff;
  font-weight: 700;
  font-size: 20px;
}

.nav-section .navigation-bar .nav-menu:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #ffc227;
}

.nav-section .navigation-bar .nav-menu.active {
  color: #ffc227;
}

@media (max-width: 1024px) {
  .nav-section .navigation-bar .nav-menu {
    font-size: 16px;
  }
}

.nav-section #toggle-btn {
  right: 32px;
  top: 52px;
  -webkit-transition: left 100ms linear 0ms,-webkit-transform 200ms ease 100ms;
  transition: left 100ms linear 0ms,-webkit-transform 200ms ease 100ms;
  transition: left 100ms linear 0ms,transform 200ms ease 100ms;
  transition: left 100ms linear 0ms,transform 200ms ease 100ms,-webkit-transform 200ms ease 100ms;
  position: absolute;
  display: none;
}

@media (max-width: 820px) {
  .nav-section #toggle-btn {
    display: block;
  }
}

@media (max-width: 535px) {
  .nav-section #toggle-btn {
    right: 5vw;
    top: 10vw;
  }
}

.nav-section #toggle-btn span {
  top: 0px;
  display: block;
  background: #ffff;
  width: 40px;
  height: 8px;
  margin: 5px 0px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media (max-width: 535px) {
  .nav-section #toggle-btn span {
    height: 6px;
    width: 32px;
  }
}
/*# sourceMappingURL=navbar.css.map */