$primary-color: #433d3c;
$text-color:#101010;
$header-color: #e60033;
$highlight-color: #ffc227;

$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Economica', sans-serif;
$fancy-font: 'Walter Turncoat', cursive;