@import './mixins';

.footer {
    background-color: #433d3c;
    padding: 60px;
    transform: translate(0, -150px);
    font-family: "Montserrat", sans-serif;
    
    .footer-grid {
        //@include add-testing-border();
        @include absolutely-centered;
        width: 1300px;

        display: grid;
        grid-template-columns: repeat(3, auto);
        top: 10px;
        margin: 0 auto;
        padding: 40px;
        max-width: 70%;

        position: absolute;

        @include tablet() {
            grid-template-columns: auto;
            grid-template-rows: repeat(3, auto);
            grid-gap: 40px;
        }

        
        .footer-grid-item {
            //@include add-testing-border();
            text-align: center;
            color: #ffff;

            p {
                margin-bottom: 20px;
                font-size: 20px;

                @include tablet() {
                    font-size: 16px;
                }
            }

            .btn-order-online {
                //@include add-testing-border();
                background-color: rgb(255, 194, 39);
                padding: 8px 24px;
                border-radius: 4px;
            
                color: white;
                font-weight: bold;
            
                font-size: 20px;

                @include tablet() {
                    padding: 6px 20px;
                    font-size: 16px;
                }
            }
        }
    }
}

.font-icon {
    color: rgb(255, 194, 39);
    margin: 8px;
    font-size: 32px;
    cursor: pointer;

    &:hover {
        transition: 300ms;
        color: #ffff;
    }
}
