@import './mixins';

.hero{
    height: 700px;
    width: 100%;
    background-image: url('../assets/images/wood.jpg');
    background-position: center;
    background-size: 120%;
    padding-top: 100px;


    .title{
        //@include add-testing-border();
        @include center();
        
        width: 50%;

        font-size: 92px;
        font-weight: 700;
        letter-spacing: 8px;
        color: #ffff;

        top: 100px;

    }

    .tagline {
        //@include add-testing-border();
        @include center();

        width: 50%;

        font-size: 20px;
        font-weight: 500;
        letter-spacing: 2px;
        color: #ffff;
    }

    .bowl {
        display: block;
      
        @include center();
        margin-top: 56px;
    }

}
.ordering-system-container {
    background-image: url('../assets/images/texture_pattern_2X.jpg');
    //min-width: 2500px; 
    padding: 20px 0 100px 0;
    margin: 0px;
}

.ordering-system {
    //@include add-testing-border();
    width: 70%;
    margin: 0 auto;
    
    .how-to-order {
        //@include add-testing-border();
        @include center();

        width: 40%;
        
        margin-top:40px;

        font-size: 40px;
        font-weight: 600;
        color: #e60033;
    }

    .order-sys-imgs {
        //@include add-testing-border();
        @include center();
        //height: 100px;
        width: 60%;
        margin: 0 auto;
        margin-top: 30px;
        display: grid;
       
        grid-template-columns: auto auto auto auto auto;
        justify-items: center;
        //grid-gap: 6%;

        
        .order-sys-imgs-container {   
            //@include add-testing-border();
            padding: 0;
            margin-top: 20px;

            p {
                //@include add-testing-border();
                @include center();

                font-family: Economica, sans-serif;
                font-size: 28px;
                font-weight: 500;
                transform: scale(.8, 1.2);
                letter-spacing: 2px;
                margin-top: 20px;
             
                
            }
            .pick-ramen {
                //@include add-testing-border();
                @include center();

                height: 160px;
                margin: 0 auto;
                margin-bottom: 2px;
                padding: 0px;
                text-align: center;
              
                
            }
        
            .pick-broth {
                //@include add-testing-border();
                @include center();

                height: 144px;
                margin: 0;
                margin-top: 16px;
                margin-bottom: 4px;
                padding: 0;
                text-align: center;
                
            }
        
            .add-toppings {  
                //@include add-testing-border();
                @include center();
                
                height: 160px;
                margin: 0;
                margin-top: 4px;
                padding: 0 32px;
                text-align: center;
            }

            .right-arrow {
                //@include add-testing-border();
                @include center();

                margin-top: 72px;
                width: 24px;
            }
        }
            
    } 

    
}