@import './mixins';
@import './variables';

.hero{
    height: 860px;
    width: 100%;
    background-image: url('../assets/images/wood.jpg');
    background-position: center;
    background-size: 120%;
    padding-top: 150px;
    margin-bottom: 0;

    transform: translate(0, -150px);

    position: relative;

    @include medium {
        max-height: 80vw;
    }

    @include tablet {
        padding-top: 32vh;
    }

    @include large-mobile {
        max-height: 84vh;   
    }

    .logo-in-hero {
        //@include add-testing-border();
        display: none;
        position: absolute;
        height: 80px;
        width: 80px;
        top: 164px;
        left: 24px;

        @include tablet {
            display: block;
        }

        @include tablet {
            display: block;
            height: 60px;
            width: 60px;
        }
    }

    .title{
        //@include add-testing-border();
        @include center();
        
        width: 800px;

        max-width: 90%;

        font-size: 92px;
        font-weight: 700;
        letter-spacing: 8px;
        color: #ffff;

        margin-top: 80px;
        

        @include tablet {
            margin-top: 1px;
            font-size: 10vw;
        }

        @include large-mobile {
            margin: 12vh auto 12px auto;
            font-size: 52px;
            line-height: 48px;
            
        }

    }

    .tagline {
        //@include add-testing-border();
        @include center();

        width: 800px;

        font-size: 20px;
        font-weight: 500;
        letter-spacing: 2px;
        color: #ffff;

        max-width: 90%;

        @include tablet {
            font-size: 14px;
        }

    }

    
        
        .bowl {
            //@include add-testing-border();
            @include absolutely-centered;
            position: absolute;
            bottom: 0;
            max-width: 100%;
        }
    
    

}
.ordering-system-container {
    background-image: url('../assets/images/texture_pattern_2X.jpg');
    //min-width: 2500px; 
    padding: 20px 0 100px 0;
    margin: 0px;
    
    transform: translate(0, -150px);
    
}

.ordering-system {
    //@include add-testing-border();
    width: 1200px;
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
    
    
    .how-to-order {
        //@include add-testing-border();
        @include center();

        width: 40%;
        
        margin-top:40px;

        font-size: 40px;
        font-weight: 600;
        color: $header-color;
    }

    .order-sys-imgs-container {
        //@include add-testing-border();
        @include center();

        width: 90%;
        margin: 0 auto;
        margin-top: 40px;
        display: grid;
       
        grid-template-columns: auto auto auto auto auto;
        justify-items: center;
                

        .order-sys-imgs {   
            //@include add-testing-border();
            padding: 0;
            margin-top: 0;

            p {
                //@include add-testing-border();
                @include center();

                font-family: Economica, sans-serif;
                font-size: 24px;
                font-weight: 500;
                transform: scale(.8, 1.2);
                letter-spacing: 2px;
                margin-top: 20px
                              
            }

            .pick-ramen {
                //@include add-testing-border();
                @include center();

                height: 120px;
                margin-bottom: 4px;
                padding: 0px;
                text-align: center;

            }
        
            .pick-broth {
                //@include add-testing-border();
                @include center();

                height: 112px;
                margin: 0;
                margin-top: 8px;
                margin-bottom: 2px;
                padding: 0;
                text-align: center;

            }
        
            .add-toppings {  
                //@include add-testing-border();
                @include center();
                
                height: 120px;
                margin: 0;
                margin-top: 4px;
                padding: 0 32px;
                text-align: center;
            }

            .right-arrow {
                //@include add-testing-border();
                @include center();

                margin-top: 72px;
                width: 20px;

            }
        }
            
    } 

    
}


@media(max-width: 745px){
    .ordering-system-container {
    padding: 20px 0 50px 0;
   
    
    }
    .ordering-system {
        
        .how-to-order {
            width: 80%;
            
            margin-top:40px;
            font-size: 32px;
        }
    
        .order-sys-imgs-container {
            width: 500px;
            max-width: 100%;
           
            margin-top: 32px;
           
            grid-template-columns: auto;
            grid-template-rows: 160px 70px 160px 70px 160px;
           
            justify-items: center;      
    
            .order-sys-imgs {   
                padding: 0;
                margin-top: 0;
    
                p {
                    font-family: Economica, sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    transform: scale(.8, 1.2);
                    letter-spacing: 2px;
                    margin-top: 20px
                                  
                }
    
                .pick-ramen {
                    height: 100px;
                    margin-bottom: 4px;
                    padding: 0px;
                    text-align: center;
    
                }
            
                .pick-broth {
                    height: 90px;
                    margin: 0;
                    margin-top: 8px;
                    margin-bottom: 2px;
                    padding: 0;
                    text-align: center;
    
                }
            
                .add-toppings {  
                    height: 100px;
                    margin: 0;
                    margin-top: 4px;
                    padding: 0 32px;
                    text-align: center;
                }
    
                .right-arrow {
                    margin-top: 20px;
                    width: 20px;

                    transform: rotate(90deg);
    
                }
            }
                
        } 
    
        
    }

}





