@import './mixins';
.menu-list {
    background-image: url('../assets/images/character_pattern_2X.jpg');
    background-size: 100px;
    //height: 800px;

    padding: 60px;


    .ramenBowls {
        @include add-testing-border();
            @include center();

            width: 40%;
            
            margin-top:0px;

            font-size: 60px;
            font-weight: 700;
            color: #ffff;
    }

    .grid-menu-container {
        @include add-testing-border();
        display: grid;

        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto;
        width: 1200px;
        margin: 40px auto;
    
    .grid-menu-items {
        @include add-testing-border();
        padding: 10px;

        .category {
            @include add-testing-border();
            width: 50%;
            font-family: Economica, sans-serif;
            font-size: 36px;
            font-weight: 300;
            transform: scale(1, 1.4);
        }

        .price {
            //@include add-testing-border();
            width: 30%;
            font-family: Economica, sans-serif;
            font-size: 28px;
            font-weight: 300;
            color: #e60033;
            margin-top: 30px;
        }

        .chashus {
            ul {
                //@include add-testing-border();
                list-style-type: none;
                font-size: 20px;
                font-weight: 600;
                color: #ffff;
                margin-top: 10px; 
                
                li {
                    //@include add-testing-border();
                    font-size: 20px;
                    margin-top: 2px;
                }
            }
            
        }

        .toppings {
            ul {
                //@include add-testing-border();
                list-style-type: none;
                font-size: 20px;
                font-weight: 600;
                color: #ffff;
                margin-top: 30px;
                
                li {
                    //@include add-testing-border();
                    font-size: 20px;
                    margin-top: 2px;
                }
            }
            
        }

        .bowls {
            font-size: 24px;
            margin-top: 20px;
            font-weight: 600;
            font-family: Walter Turncoat, cursive;
        }

    }

    

}   

}