@import './mixins';
@import './variables';

@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

.menu-list {
    background-image: url('../assets/images/character_pattern_2X.jpg');
    background-size: 100px;
    padding: 60px 0;
    transform: translate(0, -150px);
    


    .ramenBowls {
        //@include add-testing-border();
            @include center();

            width: 1000px;
            
            margin-top:0px;

            font-size: 60px;
            font-weight: 700;
            color: #ffff;

            max-width: 100%;
    }

    .grid-menu-container {
        //@include add-testing-border();
        display: grid;

        grid-template-columns: 6fr 6fr;
        grid-template-rows: repeat(5, auto);
        grid-row-gap: 40px;

        width: 1000px;
        margin: 40px auto;

        max-width: 96%;

        @include tablet {
            grid-template-columns: auto;
            grid-template-rows: repeat(9, auto);
            
            width: 500px;
            max-width: 96%;
        }
    
    .grid-menu-items {
        //@include add-testing-border();
        padding: 10px;
        

        .category {
            //@include add-testing-border();
            font-family: Economica, sans-serif;
            font-size: 36px;
            font-weight: 300;
            transform: scale(1, 1.4);

            @include tablet {
                font-size: 30px;
            }
        }

        .price {
            //@include add-testing-border();
            font-family: Economica, sans-serif;
            font-size: 28px;
            font-weight: 300;
            color: $header-color;
            margin-top: 30px;

            @include tablet {
                font-size: 24px;
            }
        }

        .chashus {
            ////@include add-testing-border();
            list-style-type: none;
            font-family: "Montserrat", sans-serif;
            font-size: 20px;
            font-weight: 600;
            color: #ffff;
            text-shadow: 2px 2px rgba(0,0,0,.5);
            margin-top: 10px; 

            @include tablet {
                font-size: 16px;
            }
                
            li {
                margin-top: 2px;
                text-shadow: 2px 2px rgba(0,0,0,.5);
            }
 
        }

        .toppings {
            ////@include add-testing-border();
            list-style-type: none;
            font-family: "Montserrat", sans-serif;
            font-size: 20px;
            font-weight: 600;
            color: #ffff;
            margin-top: 30px;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.5);

            @include tablet {
                font-size: 16px;
            }
                
            li {
                margin-top: 2px;
                text-shadow: 2px 2px rgba(0,0,0,.5);
            }
            
        }

        .bowls {
            //@include add-testing-border();
            font-size: 24px;
            margin-top: 20px;
            
            font-family: 'Walter Turncoat', cursive;
           
            @include tablet {
                font-size: 20px;
            }

            li {
                list-style-type: none;
            }
        }

    }

    

}   

}