@import './mixins';
@import './variables';

.nav-section {
    //@include add-testing-border();
    background-color: transparent;
    width: 100%;
    transition: 200ms;

    &.active {
        transition: 200ms;
        background-color: #433d3c;
    }

    @include large-mobile {
        height: 28vw;
        
    } 

    .navigation-bar {
        //@include add-testing-border();
        border-style: solid;
        border-width: 1px;
        border-color: rgba(0, 0, 0, 0);
    
        width: 1000px;
        height: 140px;

        justify-content: center;
        text-decoration: none;

        position: sticky;
        margin: 0 auto;

        max-width: 95%;

   
        .logo {
            //@include add-testing-border();
            position: absolute;

            height: 100px;
            width: 100px;

            margin: 21px 48px;

            @include large-mobile {
                height: 80px;
                width: 80px;
                
                max-height: 20vw;
                max-width: 20vw;

                margin: 5vw;
            }
        }

        .navigation-bar-2 {
            //@include add-testing-border();
            width: 50%;
            text-align: center;
            
            margin: 84px auto;

            max-width: 90%;

            @include tablet {
                display: none;
            } 
        }

        .btn-order-online {
            //@include add-testing-border();
            
            background-color: $highlight-color;
            padding: 8px 24px;
            border-radius: 4px;

            color: white;
            font-weight: bold;
            right: 20px;
            top: 76px;
            position: absolute;

            font-size: 20px;

            

            @include medium {
                font-size: 16px;
                padding: 7px 14px;
                right: 1vw;
                
            }

            @include tablet {
                display: none;
            }

        }

        .nav-menu {
            //@include add-testing-border();
            
            text-decoration: none;
            padding: 0 20px 0 20px;
            align-self: center;

            color: #ffff;
            font-weight: 700;
            font-size: 20px;

            &:hover {
                transition: 300ms;
                color: #ffc227;
            }

            &.active {
                color: #ffc227;
            }

            @include medium {
                font-size: 16px;
            }
            
        }
    }


    #toggle-btn {
        //@include add-testing-border();
        right: 32px;
        top: 52px;
        transition:left 100ms linear 0ms,transform 200ms ease 100ms;
        position: absolute;
        display: none;
       
        @include tablet {
            //visibility: visible;
            display: block;
        }

        @include large-mobile {
            right: 5vw;
            top: 10vw;
        }
    
          span {
            //position: relative;
            top:0px;
            display:block;
            background:#ffff;
            width:40px;
            height:8px;
            margin:5px 0px;
            cursor:pointer;
            transition: 0.3s ease-in-out;

            @include large-mobile {
                height: 6px;
                width: 32px;
            }
          }
    }
}



