@import './mixins';

.nav-section {
    //@include add-testing-border();
    background-image: url('../assets/images/wood.jpg');
    background-position: center;
    background-size: 120%;
    width: 100%;
    //min-width: 1920px;

    .navigation-bar {
        @include add-testing-border();
    
        width: 1000px;
        height: 140px;

        justify-content: center;
        text-decoration: none;

        position: sticky;
        margin: 0 auto;

        max-width: 95%;

   
        .logo {
            @include add-testing-border();
            position: absolute;

            height: 100px;
            width: 100px;

            margin: 30px;
        }

        .navigation-bar-2 {
            @include add-testing-border();
            width: 50%;
            text-align: center;
            
            margin: 84px auto;

            max-width: 90%;

            @include tablet {
                display: none;
            }
            
        }

        .btn-order-online {
            @include add-testing-border();
            
            background-color: rgb(255, 194, 39);
            padding: 8px 24px;
            border-radius: 4px;

            color: white;
            font-weight: bold;
            right: 20px;
            top: 76px;
            position: absolute;

            font-size: 20px;

            

            @include medium {
                font-size: 16px;
            }

            @include tablet {
                display: none;
            }

        }

        .nav-menu {
            @include add-testing-border();
            
            text-decoration: none;
            padding: 0 20px 0 20px;
            align-self: center;

            color: #ffff;
            font-weight: 700;
            font-size: 20px;

            @include medium {
                font-size: 16px;
            }
        }
    }


    #toggle-btn {
        //@include add-testing-border();
        right: 32px;
        top: 52px;
        transition:left 100ms linear 0ms,transform 200ms ease 100ms;
        position: absolute;
        display: none;
       
        @include tablet {
            //visibility: visible;
            display: block;
        }
    
          span {
            //position: relative;
            top:0px;
            display:block;
            background:#ffff;
            width:40px;
            height:8px;
            margin:5px 0px;
            cursor:pointer;
            transition: 0.3s ease-in-out;
          }
    
    }

}




